header {
    background-color: #afabcb;
}
.topLogo {
    display: inline-block;
    width: 23%;
    padding: 1%;
}
nav {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 70%;
    padding: 1%;
}
.inlineBlock {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
body {
    font-family: Raleway;
    color: #1E1E1E;
    background: #FFF
}
h1 {
    text-align:center;
}
h2 {
    text-align:center;
}
h3 {
    text-align:center;
}
.heroImage {
    display: block;
    margin: auto;
    text-align: center;
    padding: 15px;
}
p {
    text-align: center;
    padding: 15px;
}
button {
    background-color:#71afbb;
    color: white;
}
.buttonFormat {
   text-align: center;
}
.content {
    width: 500px;
    padding: 30px;
    margin: 0 auto;
}
footer {
    background-color: #afabcb;
}
.bottomLogo {
    display: inline-block;
    width: 23%;
    padding: 1%;
}
.footerNav {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: 10px;
}