header {
    padding: 20px;
    background-color: #afabcb;
}
.headerAlignment {
    display: inline-block;
    vertical-align: middle;
}
.topLogo {
    display: inline-block;
}
nav {
    display: inline-block;
    vertical-align: top;
}
.inlineBlock {
    display: inline-block;
    padding: 20px;
}
body {
    font-family: Raleway;
    color: #1E1E1E;
    background: #FFF
}
h1 {
    text-align:center;
}
h2 {
    text-align:center;
}
h3 {
    text-align:center;
}
.heroImage {
    display: block;
    margin: auto;
    text-align: center;
    padding: 15px;
}
p {
    text-align: center;
    padding: 15px;
}
button {
    background-color:rgb(113, 175, 187);
    color: white;
}
.buttonFormat {
   text-align: center;
}
.content {
    padding: 30px;
}
footer {
    background-color: #afabcb;
    padding: 20px;
}
.footerAlignment {
    display: inline-block;
}
.bottomLogo {
    display: inline-block;
}
.footerNav {
    display: inline-block;
    padding: 20px;
}